In [1]:
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
import joblib
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
file = os.path.join('C:/Users/javic/Desktop/notebook para repositorio/Reboiler', 'Reboiler_Raw_Data_With_Timestamps.xlsx')
df1 = pd.read_excel(file, header=0)
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,VAL356CI8017-Conductividad,VAL356M003-Carga Motor,VAL356M014-Carga Motor,VAL356M015-Carga Motor,VAL356PI8026-Ind.Presión,VAL356PIC8025-Ind.Presión,VAL356TI8015-Ind.Temperatura,VAL356TIC8014-Ind.Temperatura,Estado
0,2006-10-24 23:38:00,12.3,68.026459,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,68.827098,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,68.871664,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,65.658285,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,64.166553,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,NaN,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,NaN,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,NaN,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,NaN,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,NaN,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [3]:
df1 = df1.drop([
	'VAL356M003-Carga Motor',
], axis='columns')
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,VAL356CI8017-Conductividad,VAL356M014-Carga Motor,VAL356M015-Carga Motor,VAL356PI8026-Ind.Presión,VAL356PIC8025-Ind.Presión,VAL356TI8015-Ind.Temperatura,VAL356TIC8014-Ind.Temperatura,Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [4]:
df1 = df1.rename(columns={
	'VAL356CI8017-Conductividad': 'Conductividad',
	'VAL356M014-Carga Motor': 'Carga motor M14',
	'VAL356M015-Carga Motor': 'Carga motor M15',
	'VAL356PI8026-Ind.Presión': 'Presion 26',
	'VAL356PIC8025-Ind.Presión': 'Presion 25',
	'VAL356TI8015-Ind.Temperatura': 'Temperatura 15',
	'VAL356TIC8014-Ind.Temperatura': 'Temperatura 14',
})
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [5]:
df1 = df1
s = df1['Fecha']
df1['Fecha'] = pd.to_datetime(s, errors='coerce', format='YYYY-MM-DD-hh:mm:ss')

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [6]:
df1 = df1.fillna(method='ffill')

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

C:\Users\javic\AppData\Local\Temp\ipykernel_29552\3703709891.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1 = df1.fillna(method='ffill')

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [7]:
cond = ((df1['Fecha'].le(pd.to_datetime('2016-01-01 00:00:00', format='%Y-%m-%d %H:%M:%S', errors='coerce'))))
df1 = df1[cond]
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
30671,2015-07-09 22:38:00,5.6,71.332682,33.533456,17.661707,17.5,83.063740,100.463145,0
30672,2015-07-10 00:38:00,5.9,70.590220,30.705725,17.820408,17.5,79.838941,100.569130,0
30673,2015-07-10 02:38:00,6.0,69.311703,29.224549,18.392388,17.9,78.170308,101.948272,0
30674,2015-07-10 08:38:00,6.0,72.188370,33.675480,18.217799,18.0,80.756929,100.154665,0
30675,2015-07-10 10:38:00,6.1,71.811248,35.286683,18.153937,18.0,80.567843,100.096527,0

In [8]:
df1 = df1
df1.set_index([
	'Fecha',
], inplace=True)
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
Fecha,,,,,,,,
2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...
2015-07-09 22:38:00,5.6,71.332682,33.533456,17.661707,17.5,83.063740,100.463145,0
2015-07-10 00:38:00,5.9,70.590220,30.705725,17.820408,17.5,79.838941,100.569130,0
2015-07-10 02:38:00,6.0,69.311703,29.224549,18.392388,17.9,78.170308,101.948272,0
2015-07-10 08:38:00,6.0,72.188370,33.675480,18.217799,18.0,80.756929,100.154665,0
2015-07-10 10:38:00,6.1,71.811248,35.286683,18.153937,18.0,80.567843,100.096527,0

In [9]:
cond = ((df1['Conductividad'].le(12)))
df1 = df1[cond]
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
Fecha,,,,,,,,
2006-10-25 13:38:00,11.2,50.748062,30.432908,21.410569,21.0,72.299482,103.402134,0
2006-10-28 15:38:00,10.3,51.494832,30.109002,21.114760,20.9,72.275378,103.351170,0
2006-10-28 17:38:00,11.7,50.694904,30.441508,21.392925,21.2,72.145629,103.188206,0
2006-10-29 07:38:00,11.9,51.114342,30.326820,21.548750,21.1,72.181998,103.104948,0
2006-10-29 09:38:00,11.8,48.579437,30.530199,21.513688,21.3,72.466659,103.154048,0
...,...,...,...,...,...,...,...,...
2015-07-09 22:38:00,5.6,71.332682,33.533456,17.661707,17.5,83.063740,100.463145,0
2015-07-10 00:38:00,5.9,70.590220,30.705725,17.820408,17.5,79.838941,100.569130,0
2015-07-10 02:38:00,6.0,69.311703,29.224549,18.392388,17.9,78.170308,101.948272,0
2015-07-10 08:38:00,6.0,72.188370,33.675480,18.217799,18.0,80.756929,100.154665,0
2015-07-10 10:38:00,6.1,71.811248,35.286683,18.153937,18.0,80.567843,100.096527,0

In [10]:
from functools import partial
from pandas.tseries.frequencies import to_offset

def roundfunc(t, freq):
	freq = to_offset(freq)
	return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)

df1 = df1.groupby(partial(roundfunc, freq='120T'))

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1
enum = enumerate(df1.groups)
nextel = next(enum)
nextel[1]
df1.get_group(nextel[1])
nextel = next(enum)
nextel[1]
df1.get_group(nextel[1])

C:\Users\javic\AppData\Local\Temp\ipykernel_29552\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\javic\AppData\Local\Temp\ipykernel_29552\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)

[{'var': 'df1', 'type': 'DataFrameGroupBy'}]

Timestamp('2006-10-25 12:00:00')

,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
Fecha,,,,,,,,
2006-10-25 13:38:00,11.2,50.748062,30.432908,21.410569,21.0,72.299482,103.402134,0

Timestamp('2006-10-28 14:00:00')

,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
Fecha,,,,,,,,
2006-10-28 15:38:00,10.3,51.494832,30.109002,21.11476,20.9,72.275378,103.35117,0

In [11]:
df1 = df1.aggregate('median')

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor M14,Carga motor M15,Presion 26,Presion 25,Temperatura 15,Temperatura 14,Estado
Fecha,,,,,,,,
2006-10-25 12:00:00,11.2,50.748062,30.432908,21.410569,21.0,72.299482,103.402134,0.0
2006-10-28 14:00:00,10.3,51.494832,30.109002,21.114760,20.9,72.275378,103.351170,0.0
2006-10-28 16:00:00,11.7,50.694904,30.441508,21.392925,21.2,72.145629,103.188206,0.0
2006-10-29 06:00:00,11.9,51.114342,30.326820,21.548750,21.1,72.181998,103.104948,0.0
2006-10-29 08:00:00,11.8,48.579437,30.530199,21.513688,21.3,72.466659,103.154048,0.0
...,...,...,...,...,...,...,...,...
2015-07-09 22:00:00,5.6,71.332682,33.533456,17.661707,17.5,83.063740,100.463145,0.0
2015-07-10 00:00:00,5.9,70.590220,30.705725,17.820408,17.5,79.838941,100.569130,0.0
2015-07-10 02:00:00,6.0,69.311703,29.224549,18.392388,17.9,78.170308,101.948272,0.0
2015-07-10 08:00:00,6.0,72.188370,33.675480,18.217799,18.0,80.756929,100.154665,0.0
2015-07-10 10:00:00,6.1,71.811248,35.286683,18.153937,18.0,80.567843,100.096527,0.0